.update {
    color: white;
    background-color: #b30000;
}
.update-text {
    margin: 20px 20px 20px 20px;
}

#logo {
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    width: 90%;
    align: left;
}
#logo:after {
    content:"";
    display: block;
    padding-bottom: 100%;
}

#title {
    font-size: min(8vw, 100px);
    margin-bottom: -15px;
}

#subtitle {
    font-size: min(3vw, 25px);
}

html {
    background: #e2dfdf;
}

body {
    width: 70%;
    max-width: 900px;
    margin: auto;
    background: white;
}

.body-text {
    margin: 20px 20px 20px 20px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 70%;
    max-width: 900px;
    margin: auto;
    background: white;
}
